<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>yoyoMessenger.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
				<key>dateExpires</key>
				<string>02/09/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ASBPlayerScrubbing.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ASMediaFocusManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>BRYXBanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CLImageEditor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DatePickerDialog.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ISEmojiView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>JSQMessagesViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>JSQSystemSoundPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>LCPaintView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>MKColorPicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>NVActivityIndicatorView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>F687F7C3D1F6F0B599A46B2436C7CBD83550DAA0</string>
						<key>dateExpires</key>
						<string>02/09/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YBJ9AM24KD</string>
						<key>name</key>
						<string>Brendon  Hitchinson</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YBJ9AM24KD.com.yoyo.messenger</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YBJ9AM24KD</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>yoyoMessenger.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b97a793d-12f7-4c57-8b69-6768c121dc7f</string>
				<key>name</key>
				<string>yoyoDevelopment</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YBJ9AM24KD</string>
				<key>name</key>
				<string>Brendon  Hitchinson</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
